<div class="sing-container">
    <div class=" container">
        <div class="row">
            <div class="col-lg-12">
                <article class="home">
                    <div class="container content">
                        <div class="row">
                            <div class="home-item text-center">
                                <div class="home-data" *ngIf="user">
                                    <img src="assets/img/home.png" width="300">

                                    <h3 class="home-title">Seja Bem-vindo. {{ user.name }}!</h3>

                                    <p class="home-desc">
                                        Sua nova conta {{ user.email }} está ativada com sucesso.
                                    </p>

                                    <button type="submit" (click)="logout()" class="button btn-home">
                                        Sair da Conta
                                    </button>

                                    <a (click)="openPopup(user)" class="d-flex home-delete">
                                        Deseja excluir sua conta?
                                    </a>
                                </div>
                            </div>
                        </div><!-- end row -->
                    </div><!-- end container -->
                </article>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div>
